.card_news_div{
    padding: 1.2rem .5rem;
    margin: 15px auto;
    background-color:#A7F0F4;
    display: flex;
    flex-direction: column;
    border-radius: .8rem;
    box-shadow: #66666620 5px 5px;
    
}
.card_news_div p{
    font-family: sans-serif;
    text-align: justify;
    font-size: 1rem;

}
.card_news_div h3{
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.card_news_div h3::before{
    content: " ";
    width: 50%;
    margin: 12px 0;
    height: 0.1rem;
    background-color: #333;
}